$margin_right_of_container_father_computer : 120px;
$margin_left_of_container_father_computer: 120px;

$margin_right_of_container_father_tablet : 60px;
$margin_left_of_container_father_tablet: 60px;

$margin_right_of_container_father_mobile : 30px;
$margin_left_of_container_father_mobile: 30px;

$sizes_computer : 1200px;
$sizes_tablet : 768px;
$sizes_mobile : 320px;

$margin_left_of_item: 30px;

$padding_itens_of_information: 10px;

