$primary_color : #fff;
$secondary_color : orange;
$tertiary_color: #e6e6e6;
$quatary_color: #000;
$color_price: #e82f2f;

$category_color_mass: #ffff07;
$category_color_meat: #e03535;
$category_color_combos: #ff9933;
$category_color_vegan: #4ba146;